<div class="features__left-wrapper">
   <span class="features__left-text">О проекте</span>
   <img src="assets/images/features-image.png" alt="Winter chalet" class="features__image" />
   <img
      src="/assets/icons/rounded-logo.svg"
      alt="INCHAPIN rounded logo"
      class="features__image-icon"
   />
</div>
<div class="features__right-wrapper">
   <div class="features-strip"></div>
   <h2 class="features__title">
      <span>УЮТНОЕ И БЕЗОПАСНОЕ</span>
      <span>ПРОСТРАНСТВО ДЛЯ СЧАСТЛИВОЙ,</span>
      <span class="highlight">СПОКОЙНОЙ И РАЗМЕРЕННОЙ</span>
      <span class="highlight">ЖИЗНИ</span>
      <span class="highlight features__title-mobile">СПОКОЙНОЙ И РАЗМЕРЕННОЙ ЖИЗНИ</span>
   </h2>
   <p class="features__description">
      <span class="highlight">Квартиры от 65 до 356 м2 с чистовой отделкой,</span
      ><span>балконами, лоджиями и террасами В собственной</span
      ><span>ЗАКРЫТОЙ охраняемой территориИ.</span>
   </p>

   <div class="video-block">
      <div class="video-info">
         <span class="video-title">ВИДЕО О ПРОЕКТЕ</span>
         <span class="video-duration">1:25 минут</span>
      </div>
      <div class="video-strip"></div>
      <div class="video-preview">
         <div class="play-button">
            <img src="/assets/icons/play-icon.svg" alt="Play" class="play-button-icon" />
         </div>
      </div>
   </div>
</div>
