<div class="header">
   <div class="header__left">
      <div class="menu-button">
         <svg
            class="menu-icon"
            width="38"
            height="17"
            viewBox="0 0 38 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
         >
            <rect class="line top" width="37.911" height="2" fill="#2F80ED" />
            <rect
               class="line middle"
               x="0.0585938"
               y="7"
               width="37.911"
               height="2"
               fill="#2F80ED"
            />
            <rect
               class="line bottom"
               x="0.0898438"
               y="15"
               width="37.911"
               height="2"
               fill="#2F80ED"
            />
         </svg>
         <span>МЕНЮ</span>
      </div>
      <button class="header__left-btn">
         <span class="btn-text">
            <span class="text current">Выбрать квартиру</span>
            <span class="text next">Выбрать квартиру</span> </span
         ><img src="/assets/icons/chevron-down-icon.svg" alt="Chevron down icon" />
      </button>
      <img
         src="/assets/icons/call-icon.svg"
         alt="Call"
         class="call-button header__left-btn-mobile"
      />
   </div>
   <img src="/assets/icons/menu-mobile-icon.svg" alt="Menu" class="menu-mobile-icon" />

   <img src="/assets/icons/header-logo.svg" alt="INCHAPIN" class="header__logo" />

   <div class="header__right">
      <span class="phone">+7 999 123 45 67</span>
      <button class="call-button header__right-btn">
         <span class="btn-text">
            <span class="text current">Заказать звонок</span>
            <span class="text next">Заказать звонок</span>
         </span>
      </button>
   </div>
   <img
      src="/assets/icons/call-mobile-icon.svg"
      alt="Call"
      class="call-button header__right-btn-mobile"
   />
   <button class="header__right-btn-768px">
      <span>Выбрать квартиру</span
      ><img src="/assets/icons/chevron-down-icon.svg" alt="Chevron down icon" />
   </button>
</div>
