.features {
   display: flex;
   gap: 226px;
   margin-top: 110px;
   margin-bottom: 40px;
}

.features__left-wrapper {
   position: relative;
   text-align: end;
}

.features__left-text {
   display: block;
   font-size: 13px;
   line-height: 140%;
   color: #2f80ed;
}

.features__image {
   margin-top: 27px;
   max-height: 720px;
}

.features__image-icon {
   position: absolute;
   top: 15%;
   right: 0;
   transform: translateX(50%);
   width: 200px;
}

.features__right-wrapper {
   align-self: flex-end;
}

.features-strip {
   width: 49px;
   height: 9px;
   background-color: #2f80ed;
   border-radius: 2px;
}

.features__title {
   display: flex;
   flex-direction: column;
   font-size: 26px;
   line-height: 140%;
   font-weight: 500;
   margin-top: 50px;
   margin-bottom: 100px;
}

.features__title-mobile {
   display: none;
}

.highlight {
   color: #2f80ed;
}

.features__description {
   font-size: 16px;
   line-height: 160%;
   margin-bottom: 96px;
   display: flex;
   flex-direction: column;
}

.video-block {
   display: flex;
   align-items: center;
   gap: 15px;
}

.video-info {
   margin-top: 26px;
   display: flex;
   flex-direction: column;
   line-height: 160%;
   font-size: 14px;
}

.video-title {
   font-weight: 600;
}

.video-duration {
   color: #999;
   text-transform: lowercase;
}

.video-strip {
   width: 109px;
   height: 1px;
   background-color: #d7d7d7;
}

.video-separator {
   width: 1px;
   height: 40px;
   background-color: #ccc;
   margin: 0 15px;
}

.video-preview {
   position: relative;
   width: 186px;
   height: 186px;
   border-radius: 50%;
   overflow: hidden;
   cursor: pointer;
   background-image: url("/assets/images/video-thumbnail-image.png");
   background-size: 110%;
   background-repeat: no-repeat;
   transition: opacity 0.3s;
}

.video-preview::before {
   content: "";
   position: absolute;
   inset: 0;
   background-color: #2f80ed;
   opacity: 30%;
}

.video-preview:hover {
   opacity: 0.7;
}

.play-button {
   position: absolute;
   width: 110px;
   height: 110px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border: 1px solid white;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.play-button-icon {
   min-width: 48px;
   min-height: 22px;
}
